<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bug Tracker</title>
</head>
<body>

<div align="center">
	<h1>Project Tickets</h1>
	<a th:href = "@{/tickets/submit-new-ticket}">New Ticket</a>
	<table border="1">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Title</th>
				<th>Description</th>
				<th>Developer ID</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="ticket : ${projectTickets}">
				<td th:text="${ticket.projectSource?.projectName}"></td>
				<td th:text="${ticket.title}"></td>
				<td th:text="${ticket.description}"></td>
				<td th:text="${ticket.assignedUser?.userId}"></td>		
				<td><a th:href="@{/tickets/update-ticket/{id}(id=${ticket.ticketId})}">Update</a></td>
				<td><a th:href="@{/tickets/delete-ticket/{id}(id=${ticket.ticketId})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>