<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<title>Bug Tracker</title>
</head>
<body>
<div th:replace="../static/fragments/navbar :: mynavbar"></div>

	<br><br>
	<div align="center">
	<h3 >Ticket Details</h3><br>
<dl class="row" style="max-width: 900px">
  <dt class="col-sm-3">Title</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.title}"></dd>
  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.description}"></dd>
  <dt class="col-sm-3" th:if="${ticketDetails.assignedUser != null && ticketDetails.assignedUser.userId == #authentication.principal.userId}">Assigned to You!</dt>
  <dt class="col-sm-3" th:if="${ticketDetails.assignedUser != null && ticketDetails.assignedUser.userId != #authentication.principal.userId}">Assigned to</dt>
  <dt class="col-sm-3" th:if="${ticketDetails.assignedUser == null}">No one assigned</dt>
  <dd class="col-sm-9" th:if="${ticketDetails.assignedUser != null && ticketDetails.assignedUser.userId != #authentication.principal.userId}" th:text="${ticketDetails.assignedUser?.firstName + ' ' + ticketDetails.assignedUser?.lastName}"></dd>
  <dd class="col-sm-9" th:if="${ticketDetails.assignedUser != null && ticketDetails.assignedUser.userId == #authentication.principal.userId}"><a th:href="@{/tickets/drop-ticket/{id}(id=${ticketDetails.ticketId})}" class="btn btn-danger">Drop Ticket</a></dd>
  <dd class="col-sm-9" th:if="${ticketDetails.assignedUser == null}"><a th:href="@{/tickets/take-ticket/{id}(id=${ticketDetails.ticketId})}" class="btn btn-success">Take ticket</a></dd>
  <dt class="col-sm-3">Submitter</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.submitter?.firstName + ' ' + ticketDetails.submitter?.lastName}"></dd>
  <dt class="col-sm-3">Submission Date</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.creationDate}"></dd>
  <dt class="col-sm-3">Project</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.projectSource?.projectName}"></dd>
  <dt class="col-sm-3">Type</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.type}"></dd>
  <dt class="col-sm-3">Priority</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.priority}"></dd>
  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.status}"></dd>
  <dt class="col-sm-3">Last Update</dt>
  <dd class="col-sm-9" th:text="${ticketDetails.mostRecentUpdateDate}"></dd>
</dl>

<br>

<a th:if="${#authentication.principal.userId == ticketDetails.assignedUser?.userId ||#authentication.principal.userId == ticketDetails.submitter?.userId}" th:href="@{/tickets/update-ticket/{id}(id=${ticketDetails.ticketId})}" class="btn btn-warning">Update Ticket</a>

<br><br>

<h3 th:unless="${#lists.isEmpty(ticketFiles)}">Files</h3>
<table th:unless="${#lists.isEmpty(ticketFiles)}" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Uploader</th>
      <th scope="col">Download Link</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="file : ${ticketFiles}" th:unless="${#lists.isEmpty(ticketFiles)}">
      <td th:text="${file.uploader?.firstName + ' ' + file.uploader?.lastName}" scope="row"></td>
      <td scope="row"><a th:text="${file.name}" th:href="@{/tickets/download-file/{id}(id=${file.fileId})}"></a></td>
    </tr>
  </tbody>
</table>

<br>

<div align="center" style="max-width: 400px;">
<form th:if="${#authentication.principal.userId == ticketDetails.submitter?.userId}" th:action="@{/tickets/upload-file/{id}(id=${ticketDetails.ticketId})}" enctype="multipart/form-data" method="POST">
	<input type="file" name="file" style="float: left;"><button type="submit" class="btn btn-primary" style="margin-bottom: 200px;">Upload File</button>
</form>
</div>

<h3 th:unless="${#lists.isEmpty(logEntries)}">Ticket Changes</h3>
<table th:unless="${#lists.isEmpty(logEntries)}" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Updater</th>
      <th scope="col">Property changed</th>
      <th scope="col">Old Value</th>
      <th scope="col">New Value</th>
      <th scope="col">Date change was made</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="log : ${logEntries}" th:unless="${#lists.isEmpty(logEntries)}">
      <td th:text="${log.updater?.firstName + ' ' + log.updater?.lastName}" scope="row"></td>
      <td th:text="${log.property}" scope="row"></td>
      <td th:text="${log.oldValue}" scope="row"></td>
      <td th:text="${log.newValue}" scope="row"></td>
      <td th:text="${log.date}" scope="row"></td>
    </tr>
  </tbody>
</table>

<br><br>

<h3 th:unless="${#lists.isEmpty(commentEntries)}">Comments</h3>
<table th:unless="${#lists.isEmpty(commentEntries)}" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Comment</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="comment : ${commentEntries}" th:unless="${#lists.isEmpty(commentEntries)}">
      <td th:text="${comment.commenter?.firstName + ' ' + comment.commenter?.lastName}" scope="row"></td>
      <td th:text="${comment.description}" scope="row"></td>
      <td th:text="${comment.date}" scope="row"></td>
    </tr>
  </tbody>
</table>

<form th:action="@{/tickets/make-comment/{id}(id=${ticketDetails.ticketId})}" th:object = "${comment}" method="POST" style="max-width: 650px;">
	<input class="form-control" type="text" th:field = "*{description}" placeholder="Write something">
	<br><button type="submit" class="btn btn-primary" style="margin-bottom: 200px;">Leave comment</button>
</form>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>