<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Bug Tracker</title>
</head>
<body>

<div align="center">
	<h1>Welcome!</h1>
	<label sec:authorize="isAnonymous()">You are logged out</label><br>
	<form form-method="post" th:action="@{/logout}">
		<button sec:authorize="isAuthenticated()">Logout</button>
	</form>
	<form form-method="post" th:action="@{/login}">
		<button sec:authorize="isAnonymous()" th:href="@{/login}">Login</button>
	</form>
	<a href = "/tickets/my-tickets" sec:authorize="hasAnyAuthority('ADMINISTRATOR','PROJECTMANAGER','DEVELOPER')">Go to my tickets (DEFAULT TO 1)</a>
	<a href = "/tickets/project-tickets" sec:authorize="hasAnyAuthority('ADMINISTRATOR','PROJECTMANAGER','DEVELOPER')">Go to project tickets(DEFAULT TO 1)</a>
</div>
</body>
</html>